.hero {
  text-align: center;
  padding: 118px 0;
  width: 100%;

  background-color: $bg-accent-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero-mob-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-mob-img-2x.jpg);
  }

  @include tablet {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-tab-img.jpg);

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero-tab-img-2x.jpg);
    }
  }

  @include desktop {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/hero-dt-img.jpg);

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/hero-dt-img-2x.jpg);
    }
  }

  &__title {
    font-weight: 900;

    font-size: 26px;
    line-height: 1.62;
    // max-width: 360px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $text-accent-color;

    margin: 0 auto;

    @include tablet {
      max-width: 360px;
    }

    @include desktop {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }

  &__button {
    @extend %button;
    display: inline-block;
    margin-top: 30px;

    &:hover,
    &:focus {
      background-color: $bg-button;
    }
  }
}
