$main-color: #ffffff;
$text-color: #212121;
$text-accent-color: #ffffff;
$text-ft-color: rgba(255, 255, 255, 0.6);
$text-sec-color: #757575;
$accent-color: #2196f3;
$bg-color: #f5f4fa;
$bg-accent-color: #2f303a;
$text-logo-color: #000000;
$bg-button: #188ce8;
$color-icon: #afb1b8;
